@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}
$cell_size: 30;
$zero: #878787;
$one: #0B24FB;
$two: #0E7A11;
$three: #FC0D1B;
$four: #020B79;
$five: #852123;
$six: #278786;
$seven: #black;
$eight: #878787;

.row {
    display:flex;
}
.cell {
    margin:2px;
    width: $cell_size;
    height: $cell_size;
    background-color: #BFBFBF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    cursor: pointer;
}
.cell.zero {
    background-color: $zero;
}
.cell.one {
    background-color: $one;
}
.cell.two {
    background-color: $two;
}
.cell.three {
    background-color: $three;
}
.cell.four {
    background-color: $four;
}
.cell.five {
    background-color: $five;
}
.cell.six {
    background-color: $six;
}
.cell.seven {
    background-color: $seven;
}
.cell.eight {
    background-color: $eight;
}
.cell.revealed {
    background-color: red;
}
.cell.game-over {
    background-color: red;
}
.cell.bomb {
    background-color: black;
}
.cell.flag {
    background-color: violet;
}

